@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<section>
    <div class="row jumbotron no-radius bg-grey jumboimage">
        <div class="jumboimage">
            <img src="~/assets/img/u4.png" alt="background image" class="img-responsive jumbo-img">
        </div>
        <div class="jumbotext">
            <p>We convert power into motion to <br>help the world run more efficiently.</p>
            <button class="btn btn-custom no-radius">Call to action</button>
        </div>
        <form class="hidden-xs">
            <input type="text" placeholder="Catalog or Model No / Keyword" required class="search">
            <button type="button" class="button"><i class="fa fa-search"></i>&nbsp;Search</button>
        </form>
    </div>
</section>
<section>
    <h4 class="f700">New Products</h4>
    <div class="">
        <div class="col-md-3">
            <div class="productbase">
                <div class="thumbnail bg-ccc no-radius"><img src="~/assets/img/u36.png" alt="product1"></div>
                <h5 class="f700">Name of new Gear product</h5>
                <p>Info about why this is a great new product.Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="productbase">
                <div class="thumbnail bg-ccc no-radius"><img src="~/assets/img/u36.png" alt="product1"></div>
                <h5 class="f700">Name of new Motor product</h5>
                <p>Info about why this is a great new product.Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="productbase">
                <div class="thumbnail bg-ccc no-radius"><img src="~/assets/img/u36.png" alt="product1"></div>
                <h5 class="f700">Name of new Bearing product</h5>
                <p>Info about why this is a great new product.Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="productbase">
                <div class="thumbnail bg-ccc no-radius"><img src="~/assets/img/u36.png" alt="product1"></div>
                <h5 class="f700">Name of new Drives product</h5>
                <p>Info about why this is a great new product.Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
            </div>
        </div>
    </div>
    <div class="text-center"><button class="btn btn-custom2 no-radius f700">More New Products</button></div>
    <hr class="line-color">
</section>
<section>
    <h4 class="f700">Solutions and Products</h4>
    <div class="">
        <div class="col-md-8 paddingL0">
            <div class="productbase2">
                <div class="thumbnail-lg bg-ccc no-radius">
                    <img src="~/assets/img/u45.png" alt="product1" class="img-responsive">
                    <p class="f700 font20">Regal’s Cassville Facility Spreads Recycling Awareness</p>
                    <p>Regal’s Environmental Health and Safety Task Force Team in Cassville, Missouri joined Habitat for Humanity, a non-profit organization, in helping to achieve a zero landfill policy. </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 paddingR0">
            <div class="productbase2">
                <div class="thumbnail bg-ccc no-radius"><img src="~/assets/img/u47.png" alt="product1"></div>
                <p class="f700 font16">Regal Mexico Operation Receives 'Clean Industry' Certification</p>
                <p>The Reynosa team mantra is “let’s do what we say and let’s standardize what we do.” Success is achieved when the teams from all functions implement the necessary process changes.</p>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="">
        <div class="col-md-4 paddingL0">
            <div class="productbase2">
                <div class="thumbnail bg-ccc no-radius"><img src="~/assets/img/u47.png" alt="product1"></div>
                <p class="f700 font16">Name of new Motor product</p>
                <p>Info about why this is a great new product.Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
            </div>
        </div>
        <div class="col-md-4 paddingL0">
            <div class="productbase2">
                <div class="thumbnail bg-ccc no-radius"><img src="~/assets/img/u47.png" alt="product1"></div>
                <p class="f700 font16">Name of new Bearing product</p>
                <p>Info about why this is a great new product.Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
            </div>
        </div>
        <div class="col-md-4 paddingL0 paddingR0">
            <div class="productbase2">
                <div class="thumbnail bg-ccc no-radius"><img src="~/assets/img/u47.png" alt="product1"></div>
                <p class="f700 font16">Name of new Drives product</p>
                <p>Info about why this is a great new product.Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
            </div>
        </div>
    </div>
    <div class="text-center"><button class="btn btn-custom2 no-radius f700">More New Products</button>&nbsp; &nbsp; &nbsp;<button class="btn btn-custom2 no-radius f700">More New Products</button></div>
    <hr class="line-color">
</section>
<section>

    <div class="">
        <div class="col-md-4 paddingL0">
            <h4 class="f700">News &nbsp;<small class="fontcolor333">All News ></small></h4>
            <div class="col-md-12 padding0 newslist">
                <div class="col-md-3 padding0">
                    May 9, 2016
                </div>
                <div class="col-md-9 ">
                    Extreme Duck Ultra Named 2015 Plant Engineering Product of the Year
                </div>
            </div>
            <div class="col-md-12 padding0 newslist">
                <div class="col-md-3 padding0">
                    May 4, 2016
                </div>
                <div class="col-md-9">
                    Power Transmission Engineering Features Regal Products
                </div>
            </div>
            <div class="col-md-12 padding0 newslist">
                <div class="col-md-3 padding0">
                    May 2, 2016
                </div>
                <div class="col-md-9">
                    Marathon Motors TEAO Cooling Tower motor Wins Plant Engineering’s Gold Product of the Year Award
                </div>
            </div>
        </div>
        <div class="col-md-4 paddingL0">
            <h4 class="f700">Events &nbsp;<small class="fontcolor333">All Events ></small></h4>
            <div class="event">
                <p class="f700 font16 fontcolor666">2016 EASA Convention</p>
                <p>June 12-14, 2016 <br> Toronto, Canada</p>
            </div>
            <div class="event">
                <p class="f700 font16 fontcolor666">Power-Gen 2016</p>
                <p>December 13-15, 2016 <br> Orlando, Florida</p>
            </div>
        </div>
        <div class="col-md-4 paddingR0">
            <h4 class="f700">Careers</h4>
            <div class="col-md-12 padding0 newslist">
                <div class="col-md-8 padding0">
                    <p>Hiring and developing leaders is the key to our success. People with ambition, commitment, creativity and energy will flourish at Regal and they give us our competitive advantage.</p>
                    <p>Learn More ></p>
                </div>
                <div class="col-md-4 paddingR0">
                    <div class="productbase2">
                        <div class="thumbnail-xs no-radius bg-ccc">
                            <img src="~/assets/img/u93.png" alt="careers">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</section>