@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}

<h1>
    @Html.Sitecore().Field("Page Title")
</h1>
<div>
    @Html.Sitecore().Field("Description")
</div>