@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<footer class="bg-c9 ">
    <div class="col-md-2">
        <ul>
            <li><a><strong>About Regal Beloit</strong></a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">Locations</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Events</a></li>
        </ul>
    </div>
    <div class="col-md-2">
        <ul>
            <li><a href=""><strong>Products</strong></a></li>
            <li><a href=""><strong>Industries & Solutions</strong></a></li>
            <li><a href=""><strong>Tools & Resources</strong></a></li>
            <li><a href=""><strong>Service & Support</strong></a></li>
            <li><a href=""><strong>Brands</strong></a></li>
            <li><a href=""><strong>Where to buy</strong></a></li>
        </ul>
    </div>
    <div class="col-md-2">
        <ul>
            <li><a href=""><strong>Investors</strong></a></li>
            <li><a href=""><strong>Suppliers</strong></a></li>
            <li><a href=""><strong>Portals</strong></a></li>
            <li><a href=""><strong>Languages</strong></a></li>
        </ul>
    </div>
    <div class="col-md-2">
        <ul>
            <li><a><strong>Contact Us</strong></a></li>
            <li><a href="">Customer Service</a></li>
            <li><a href="">Website Feedback</a></li>
            <li><a href="">Custom Solutions</a></li>
            <li><a href="">Design Assistance</a></li>
            <li><a href="">Request a quote</a></li>
        </ul>
    </div>
    <div class="col-md-2">
        <ul>
            <li><a><strong>Phone Numbers</strong></a></li>
            <li><a href="">+91 354237845</a></li>
            <li><a href="">+91 354237845</a></li>
            <li><a href="">+91 354237845</a></li>
            <li><a href="">+91 354237845</a></li>
            <li><a href="">+91 354237845</a></li>
        </ul>
    </div>
    <div class="col-md-2 text-center" id="footericon">
        <i class="fa fa-facebook-square "></i><i class="fa fa-twitter-square"></i><i class="fa fa-linkedin-square"></i><i class="fa fa-youtube-square"></i>
        <p><strong>Try our Mobile Apps</strong></p>

    </div>
    <div class="clearfix"></div>
    <br>
    <div class="col-md-12">
        <p class="pull-left">
            <img src="~/assets/img/u20.gif">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-copyright"></i> 2016 Regal All Rights Reserved.

            <span class="col-md-offset-3"></span><a href="">Privacy </a>| <a href="">Sitemap</a> | <a href="">CA Trans Sup Act Notice </a>| <a href="">Terms and Conditions of Sale</a>
        </p>
    </div>
    <div class="clearfix"></div>
    <a href="#" class="scrollToTop" id="scrollicon"><i class="fa fa-angle-up"></i></a>
</footer>