@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}

<header>
    <div class="bg-grey row hidden-xs">
        <ul class="ul-info pull-left">
            <li><a href="">One Regal</a></li>
            <li><a href="">News and Events</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <ul class="ul-info pull-right">
            <li><a>NYSE, Mar 28, 2PM61.98-0.22</a></li>
            <li><a>Investers</a></li>
            <li><a>Suppliers</a></li>
            <li><a>Portals</a></li>
            <li><span class="fa fa-globe" id="globeicon"></span><a>&nbsp; United States (en)</a></li>
        </ul>
    </div>
    <nav class="navbar navbar-custom">
        <div class="">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" id="menuicon">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="~/assets/img/u20.gif"></a>
                <div class="visible-xs pull-right search-xs"><a href="#"><span class="fa fa-search " id="navicon"></span></a></div>
            </div>
            <ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="navbar">
                <li class="active"><a href="#">Products</a></li>
                <li><a href="#">Industries & Solutions</a></li>
                <li><a href="#">Tools & Resources</a></li>
                <li><a href="#">Service & Support</a></li>
                <li><a href="/brands">Brands</a></li>
                <li><a href="#">Where to buy</a></li>
                <li><a href="#"><span class="fa fa-search" id="navicon"></span></a></li>
                <li><a href="#"><span class="fa fa-shopping-cart" id="navicon"></span></a></li>
            </ul>
        </div>
    </nav>
</header>